.allrows {
  display: flex;
  border-bottom: 2px solid black;
}

.pickers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.dates {
  width: 100%;
  margin-bottom: 0.5em;
}

.parent {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.readme {
  margin: 1em;
}
