.set_dates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.set_dates > * {
  margin-right: 0.5em;
}

.picker_and_label {
  display: flex;
  margin-top: 0.5em;
}

.label {
  flex-shrink: 0;
  padding-right: 0.5em;
}

