.row {
  width: 80vw;
  text-align: center;
  display: flex;
  border-top: 2px solid black;
  border-left: 2px solid black;
}

.cell, .cellColored {
  display:block;
  flex: 1;
  border-right: 2px solid black;
}

.cellColored {
  background-color: green;
}

.allrows {
  border-bottom: 2px solid black;
}
